<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Board</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div class="container">
		<h2>게시글 상세 화면</h2>
		<form id="frm" method="post">
			<input type="hidden" name="boardIdx" th:value="${board.boardIdx}"/>
	    	<table class="board_detail">
				<colgroup>
					<col width="15%"/>
					<col width="35%"/>
					<col width="15%"/>
					<col width="35%"/>
				</colgroup>
				<caption>게시글 상세내용</caption>
				<tbody>
					<tr>
						<th scope="row">제목</th>
						<td><input type="text" id="title" name="title" th:value="${board.title}"></td>
						<th scope="row">조회수</th>
						<td th:text="${board.hitCnt}"></td>
					</tr>
					<tr>
						<th scope="row">작성자</th>
						<td th:text="${board.creatorId}"></td>
						<th scope="row">작성일</th>
						<td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
					</tr>
					<tr>
						<th scope="row">내용</th>
						<td colspan="3" class="view_text" ><textarea title="내용" id="contents" name="contents" th:text="${board.contents}"></textarea></td>
					</tr>
					<tr>
						<th scope="row">첨부파일</th>
						<td colspan="3">
							<div class="file_list" th:if="${#lists.size(board.fileList)} > 0" th:each="list : ${board.fileList}">
					        	<a style="float:left" th:href="@{/board/downloadBoardFile.do(idx=${list.idx}, boardIdx=${list.boardIdx})}" th:text="|${list.originalFileName}(${list.fileSize} KB)|"></a>
					        	<input type="button" id="delete_file" th:value="삭제" th:onclick="|location.href='@{/board/deleteBoardFile.do(idx=${list.idx}, boardIdx=${list.boardIdx})}'|">
					        </div>
					        <div class="file_list" th:unless="${#lists.size(board.fileList)} > 0">
					        	첨부파일이 없습니다.
					        </div>
						</td>
					</tr>
				</tbody>
			</table>
	        <a href="/board/openBoardList.do" class="button-6 btn_mdl" id="list">목록</a>
			<a class="button-6 btn_mdl" id="edit">수정</a>
			<a class="button-6 btn_mdl" id="delete">삭제</a>
		</form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#edit").on("click", function(){
                    var frm = $("#frm")[0];
                    frm.action = "updateBoard.do";
                    frm.submit();
                });

                $("#delete").on("click", function(){
                	if(!confirm("삭제하시겠습니까?")){
                		return false;
                	}
                	var frm = $("#frm")[0];
                    frm.action = "deleteBoard.do";
                    frm.submit();
                    
                });
            })
        </script>
	</div>
</body>
</html>