<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <!--  Appenders : 로그를 어디에 출력할지 결정하는 역할 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    	<!-- encoder : appender에 포함되는 태그로 출력될 로그의 형식 지정 -->
        <encoder>
            <Pattern>%d %5p [%c] %m%n</Pattern>
        </encoder>
    </appender>

    <appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %5p %m%n</Pattern>
        </encoder>
    </appender>

    <!-- Logger : 로그를 출력하는 요소로 level속성을 통해 출려할 로그의 레벨을 조정하여 appender에 전달
    			  debug레벨의 로그를 출력하는 형식은 appender-ref속성에 적힌 console이라는 이름을 가진 appender 사용
     -->
<!--     <logger name="board" level="DEBUG" appender-ref="console"/> -->
    
    <springProfile name="dev">
    	<logger name="board" level="DEBUG" append-ref="console"/>
    	<logger name="jdbc.sqlonly" level="INFO" append-ref="console-infolog"/>
    	<logger name="jdbc.resultsettable" level="INFO" append-ref="console-infolog"/>
    </springProfile>
    
    <springProfile name="prod">
    	<logger name="board" level="ERROR" append-ref="console"/>
    </springProfile>
    
    <!-- ADD START -->
    <logger name="jdbc.sqlonly" level="INFO" appender-ref="console-infolog"/>
    <logger name="jdbc.resultsettable" level="INFO" appender-ref="console-infolog"/>
    <!-- ADD END -->

    <!-- 루트 로거 -->
    <root level="error">
        <appender-ref ref="console"/>
    </root>
</configuration>